.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--clr-900);
}

.header > .container{
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  height: 50px;
  margin-block: 1em;
}

.header-nav {
  color: var(--clr-900);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2em;
}

.nav-element {
  position: relative;
  display: block;
  padding: 1em;
  cursor: pointer;
  background: linear-gradient(
      to right,
      var(--clr-100),
      var(--clr-100)
    ),
    linear-gradient(
      to right,
      var(--secondary-color),
      var(--secondary-color)
    );
  background-size: 100% 5px, 0 5px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nav-element:hover {
  background-size: 0 5px, 100% 5px;
}

.nav-element:has(.sub-nav)::after{
  content: " \25BE";
}

.nav-element:has(.sub-nav):hover > .sub-nav{
  display: block;
}

.sub-nav{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--clr-800);
  color: var(--clr-100);
}

.sub-nav > .nav-element{
  background: linear-gradient(
      to right,
      var(--clr-800),
      var(--clr-800)
    ),
    linear-gradient(
      to right,
      var(--secondary-color),
      var(--secondary-color)
    );
  background-size: 100% 5px, 0 5px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.sub-nav > .nav-element:hover{
  background-size: 0 5px, 100% 5px;
}

/* .sub-nav > .nav-element > .sub-nav {
  left: 100%;
} */