/* banner css */
.left-btn, .right-btn {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
}

.left-btn{
    left: 0;
}

.right-btn{
    right: 0;
}

.control-dots {
    width: auto !important;
    right: 10%;
}

.carousel-indicator {
    display: inline-block;
    height: 15px;
    width: 5px;
    background-color: var(--clr-400);
    margin-right: 10px;
    transition: height 400ms ease-in-out;
}

.carousel-indicator.selected {
    background-color: var(--secondary-color);
    height: 20px;
}

/* about me css */

.about-me {
    display: grid;
    grid-template-columns: 40% 60%;
    /* margin-block: 4em; */
    height: 400px;
}

.column-left {
    background-image: url('/public/images/about.jpg');
    background-size: cover;
    background-position: center;
}

.column-right {
    background-image: url('/public/images/bg-pattern-1-dark.png');
    background-size: cover;
    background-position: center;
    padding: 10%;
}

.column-right > .primary-heading{
    font-size: 2rem;
    font-weight: 800;
    color: var(--clr-900);
}

.column-right > .secondary-heading{
    font-size: 1rem;
    font-weight: 300;
    color: var(--clr-500);
}

.column-right > .divider {
    width: 45px;
    height: 5px;
    background-color: var(--secondary-color);
    border: none;
    margin-block: 1em;
}

.column-right > .content {
    margin-top: 2em;
}

.column-right > .btn-container {
    margin-top: 2em;
    display: flex;
    gap: .3em;
}