/* banner css */
.left-btn, .right-btn {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
}

.left-btn{
    left: 0;
}

.right-btn{
    right: 0;
}

.control-dots {
    width: auto !important;
    right: 10%;
}

.carousel-indicator {
    display: inline-block;
    height: 15px;
    width: 5px;
    background-color: var(--clr-400);
    margin-right: 10px;
    transition: height 400ms ease-in-out;
}

.carousel-indicator.selected {
    background-color: var(--secondary-color);
    height: 20px;
}

/* about me css */

.about-me {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 4em;
    height: 400px;
}

.column-left {
    background-image: url('/public/images/about.jpg');
    background-size: cover;
    background-position: center;
}

.column-right {
    background-image: url('/public/images/bg-pattern-1-dark.png');
    background-size: cover;
    background-position: center;
    padding: 10%;
}

.column-right > .content {
    margin-top: 2em;
}

.column-right > .btn-container {
    margin-top: 2em;
    display: flex;
    gap: .3em;
}

/* Gallery */

.gallery{
    margin-top: 8em;
}

.gallery-heading {
    padding-inline: 40%;
    margin-inline: auto;
}

.gallery-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content-item {
    border: 1px solid red;
    width: 370px;
    height: 260px;
}

.content-item > img {
    object-fit: cover;
    width: 370px;
    height: 260px;
}